<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionString" value="data source=172.19.32.205;Initial Catalog=Uno_Standard_v1;Persist Security Info=True;User ID=sa;Password=sql2012"  />
    <add key="LogPath" value="D:\Nandkishor\Todays Work\TK\UNO\CODE\DAILY PROCESS SERVICE\LOG" />
    <add key="DailyProcessInterval" value="120000" />
    <add key="ShiftScheduleTime" value="00" />


    <add key="AllowMail" value="Y" />    
    <add key="MailServer" value="172.19.63.115" />
    <add key="Port" value="25" />
    <add key="UserName" value="smtp" />
    <add key="Password" value="smtp@456" />
    <add key="FromMailID" value="nandkishor_patil@cms.co.in" />
    <add key="ToMailID" value="nandkishor_patil@cms.co.in" />

  </appSettings>
</configuration>